# ===============================
# Node / Angular
# ===============================
node_modules/
dist/
.angular/
.cache/
.npm/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# ===============================
# Build outputs
# ===============================
coverage/
.tmp/

# ===============================
# Environment files
# ===============================
.env
.env.*
!.env.example

# ===============================
# IDE / OS
# ===============================
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Misc
# ===============================
*.swp
