<div class="app-header">

  <div class="app-header-inner">

    <!-- Mobile sidebar toggle + logo -->
    <div class="d-flex align-items-center d-block d-lg-none">
      <button
        type="button"
        class="btn btn-icon me-2"
        (click)="onToggleSidebar()"
      >
        <i class="fa-solid fa-bars"></i>
      </button>

      <img
        alt="Logo"
        src="./assets/img/project/logo.svg"
        class="h-30px"
      />
    </div>

    <!-- Right side -->
    <div class="app-navbar">

      <div class="position-relative">
        <button
          type="button"
          class="border-0 bg-transparent p-0"
          (click)="toggleUserMenu()"
        >
          <img
            src="./assets/img/photos/user.jpg"
            class="rounded-circle"
            width="40"
            height="40"
          >
        </button>

        @if (userMenuOpen) {
          <div class="dropdown-menu dropdown-menu-end show">
            <div class="p-3 border-bottom">
              <strong>{{ user?.full_name || 'User' }}</strong><br>
              <small class="text-muted">{{ user?.email }}</small>
            </div>

            <button class="dropdown-item" (click)="logout()">
              Sign Out
            </button>
          </div>
        }
      </div>

    </div>

  </div>
</div>
