.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;

  h1 {
    font-size: 2.5rem;
  }

  p {
    opacity: 0.7;
  }
}
