.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f5f7fb;
}

.app-content {
  flex: 1;
  padding: 32px;
  overflow-y: auto;
}
