.app-root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-wrapper {
  display: flex;
  height: 100%;
}

.app-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f5f7fb;
}

.app-content-wrapper {
  flex: 1;
  padding: 32px;
  overflow-y: auto;
}
