<div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100 h-100">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/library" routerLinkActive="active" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Library
      </a>
    </li>
    <li>
      <a routerLink="/dorm" routerLinkActive="active" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Dorm
      </a>
    </li>
    <li>
      <a routerLink="/classes" routerLinkActive="active" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Classes
      </a>
    </li>
    <li>
      <a routerLink="/students" routerLinkActive="active" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Students
      </a>
    </li>
    <li>
      <a routerLink="/professors" routerLinkActive="active" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Professors
      </a>
    </li>
    <li>
      <a routerLink="/exams" routerLinkActive="active" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Exams
      </a>
    </li>
  </ul>
  <hr />

  <div ngbDropdown class="d-inline-block">
    <button
      type="button"
      class="btn btn-outline-primary w-100 text-start d-flex align-items-center justify-content-between"
      id="user-dropdown"
      ngbDropdownToggle
    >
    <div>

        <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
        />
        <strong>Dusan</strong>
    </div>
    </button>
    <div ngbDropdownMenu aria-labelledby="user-dropdown">
      <button ngbDropdownItem>Profile</button>
      <button ngbDropdownItem>Settings</button>
      <button ngbDropdownItem>Logout</button>
    </div>
  </div>
</div>
