/* -------------------------------
   Vendor imports (MUST be first)
-------------------------------- */

/* FontAwesome config MUST be before @use */
$fa-font-path: '/assets/webfonts';

@use 'bootstrap/scss/bootstrap';
@use '@fortawesome/fontawesome-free/scss/fontawesome';
@use '@fortawesome/fontawesome-free/scss/solid';
@use '@fortawesome/fontawesome-free/scss/regular';
@use '@fortawesome/fontawesome-free/scss/brands';


/* -------------------------------
   Global layout rules
-------------------------------- */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}
